################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
.DS_Store
assets/.DS_Store
images/.DS_Store
