<div class="callout">
<p id="tagline" class="blockquote"></p>
</div>


<script>
var taglines=[
"CLC Striders, are a mixed running club based at <a href='/pages/location'>Cheltenham's Ladies College</a> in Gloucestershire.",
"CLC Striders have <a href='/pages/training'>training runs</a> on Monday and Wednesday, and Friday during track season.",
"CLC Striders host the <a href='/page/staverton-10'>Staverton 10 mile</a> in January every year. Entries are now open for 2020.",	
]
document.querySelector('#tagline').innerHTML = taglines[ Math.floor(Math.random()*taglines.length) ];
</script>
