<footer>
    <div class="container">
        <p>
            &copy; {{ site.time | date: '%Y' }}
            {% if site.copyright %}
            {{ site.copyright }}
            {% else %}
            {% endif %}
            | <a name="CLC Striders Privacy Notice" href="/pages/privacy">Privacy</a>
            | <a name="CLC Striders Terms and Conditions" href="/pages/terms">Terms</a>
            | <a name="CLC Striders directory of local businesses" href="/pages/directory">Directory</a>
            | <a name="CLC Striders Committee members" href="/pages/committee">Committee</a>
            | <a name="CLC Striders post categories" href="/pages/categories">Categories</a>
            | <a name="CLC Striders post archives" href="/pages/archives">Archives</a>
            | <a name="CLC Striders Contact us" href="/pages/contact">Contact</a>
            | <a name="CLC Striders xml sitemap" href="/sitemap.xml">SiteMap</a>
            | <a name="CLC Striders RSS feed" href="/feed.xml">RSS</a>
            | {% github_edit_link "<i class="icon-github"></i>" %}
            |
                {% if site.twitter %}
                <a name="CLC Striders Twitter" href="{{ site.twitter }}"><i class="icon-twitter"></i></a>
                {% else %}
                {% endif %}

                {% if site.facebook %}
                <a name="CLC Striders Facebook group" href="{{ site.facebook }}"><i class="icon-facebook"></i></a>
                {% else %}
                {% endif %}

                {% if site.instagram %}
                <a name="CLC Striders Instagram page" href="{{ site.instagram }}"><i class="icon-instagram"></i></a>
                {% else %}
                {% endif %}

                {% if site.strava %}
                <a name="CLC Striders Strave Group" href="{{ site.strava }}"><i class="icon-strava"></i></a>
                {% else %}
                {% endif %}

                {% if site.youtube %}
                <a name="CLC Striders Youtube channel" href="{{ site.youtube }}"><i class="icon-youtube"></i></a>
                {% else %}
                {% endif %}
        </p>
    </div>
</footer>
<script src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.20/r-2.2.3/sl-1.3.1/datatables.min.js?v={{ site.cache }}" crossorigin="anonymous"></script>
{% if page.dataFlag %}
<script>
    $(document).ready(function() {
        $('#main').ready(function() {
            $.ajax({
                url: "{{ page.source }}?v={{ site.cache }}",
                dataType: "text",
                success: function(data) {
                    var row_data = data.split(/\r?\n|\r/);
                    var table_data =
                        '<table id="output_table_data" class="display table table-bordered table-striped table-hover table-sm table-responsive">';
                    for (var count = 0; count < row_data.length; count++) {
                        if (count === 0) {
                            table_data += '<thead>';
                            var cell_data = row_data[count].split(",");
                            table_data += '<tr>';
                            for (var cell_count = 0; cell_count < cell_data.length; cell_count++) {
                                if (count === 0) {
                                    table_data += '<th data-field="' +
                                        cell_data[cell_count] +
                                        '">' +
                                        cell_data[cell_count] +
                                        '</th>';
                                }
                            }
                            table_data += '</tr>';
                            table_data += '</thead><tbody>';
                        } else {
                            var cell_data = row_data[count].split(",");
                            table_data += '<tr>';
                            for (var cell_count = 0; cell_count < cell_data.length; cell_count++) {
                                if (count === 0) {
                                    table_data += '<th>' + cell_data[cell_count] + '</th>';
                                } else {
                                    if (cell_data == "") {
                                        table_data += '';
                                    } else {
                                        table_data += '<td>' + cell_data[cell_count] + '</td>';
                                    }
                                }
                            }
                            table_data += '</tr>';
                        }
                    }
                    table_data += '</tbody></table>';

                    $('#output_table_div').html(table_data);
                    //  $('#output_table_data').DataTable({ Data: table_data });
                }
            });
        });
    });
</script>
{% else %}

{% endif %}
<script>
    // add bootstrap table to all tables
    $(document).ready(function() { $('table').addClass('display table table-bordered table-striped table-hover table-sm'); });

// homepage callout
    var taglines=[
        "CLC Striders, are a mixed running club based at <a href='https://www.google.co.uk/maps/place/Cheltenham,+Gloucestershire+GL50+2NX/@51.8996855,-2.0905991,17.26z/data=!4m2!3m1!1s0x48711b750b7cf72f:0x18adca3553c78bca?hl=en'>Cheltenham's Ladies College</a> in Gloucestershire.",
        "CLC Striders have <a href='/pages/training'>training runs</a> on Monday and Wednesday, and Friday during track season.",
        "CLC Striders host the <a href='/pages/staverton-10'>Staverton 10 mile</a> in January every year. Entries are now open for 2020.",	
    ]

    var selection = document.querySelector('#tagline') !== null;
    if(selection) {
        document.querySelector('#tagline').innerHTML = taglines[ Math.floor(Math.random()*taglines.length) ];
    }

    // src="/assets/js/fix.js?v={{ site.cache }}"
    var table = $("#site_data_fixtures").DataTable();
    table.rows.add( {{ site.data.fixtures | jsonify }} ).draw();

    $('.committee').DataTable({ "paging": {{ page.paging | default: false }}, "info": {{ page.info | default: false }}, "scrollX": {{ page.scrollx | default: false }} });


</script>
<script src="/assets/js/app.js?v={{ site.cache }}"></script>
</body>
</html>
