<footer>
			<p>&copy; {{ site.time | date: '%Y' }} 
			     {% if site.copyright %}
				 {{ site.copyright }}
				 {% else %} 
			     {% endif %}  
				| <a href="/pages/privacy">Privacy</a>
				| <a href="/pages/terms">Terms</a>
				| <a href="/pages/directory">Directory</a>
				| <a href="/pages/contact">Contact</a> 
				| Please {% github_edit_link "help improve this page" %}.
			    | Follow us on: 
			    {% if site.twitter %}
			      <a href="{{ site.twitter }}"><i class="fab fa-twitter"></i></a>
			    {% else %} 
			    {% endif %}

			    {% if site.facebook %}
			      <a href="{{ site.facebook }}"><i class="fab fa-facebook"></i></a>
			    {% else %} 
			    {% endif %}

			    {% if site.instagram %}
			      <a href="{{ site.instagram }}"><i class="fab fa-instagram"></i></a>
			    {% else %} 
			    {% endif %}

			    {% if site.strava %}
			      <a href="{{ site.strava }}"><i class="fab fa-strava"></i></a>
			    {% else %} 
			    {% endif %}
			   
			    {% if site.youtube %}
			      <a href="{{ site.youtube }}"><i class="fab fa-youtube"></i></a>
			    {% else %} 
			    {% endif %}
			</p>
</footer>
