<div class="footer">
  <div class="wrapper">
  <p>&copy; {{ site.time | date: '%Y' }} 
     {% if site.copyright %}
         {{ site.copyright }}
         {% else %} 
     {% endif %} | 
    <a href="/archives">Archives</a> |
    <a href="/about">About</a> |
   
    {% if site.twitter %}
      <a href="{% site.twitter %}">{{ site.twitter }} </a>
    {% else %} 
    {% endif %}
    
    {% if site.facebook %}
      <a href="{% site.facebook %}">{{ site.facebook }} </a>
    {% else %} 
    {% endif %}
    
    {% if site.instgram %}
      <a href="{% site.instgram %}">{{ site.instgram }} </a>
    {% else %} 
    {% endif %}
    
    {% if site.strava %}
      <a href="{% site.strava %}">{{ site.strava }} </a>
    {% else %} 
    {% endif %}
    </p>
  </div>
</div>
