<h1 class="blog-title">
  <a href="/">{% if site.name %}
         {{ site.name }}
         {% else %} 
     {% endif %}</a>
</h1>

<p class="blog-author">by 
   {% if site.author %}
         {{ site.author }}
         {% else %} 
     {% endif %}</p>
<p class="blog-slogan">
    {% if site.description %}
         {{ site.description }}
         {% else %} 
     {% endif %}
</p>

<input type="checkbox" id="menu">
<label for="menu" onclick></label>
<nav role="off-canvas">
    <ul>
        <li><a href="/">News</a></li>
        <li><a href="/pages/records">Records</a></li>
        <li><a href="/pages/events">Events</a></li>  
        <li><a href="/pages/training">Training</a></li>   
        <li><a href="/pages/membership">Membership</a></li>
        <li><a href="/pages/about">About</a></li>
        <li><a href="/pages/contact">Contact</a></li>
    </ul>
</nav>
