<header>
	<nav class="container navbar navbar-expand-lg  fixed-top nav-pills nav-fill nav-justified navbar-light" style="background:white;">
	    <a class="navbar-brand" name="CLC Striders homepage" href="/">
		<img src="/img/logo.png" class="brandImage" alt="Cheltenham Ladies College Striders Running Club Logo">{{ site.slogan }}</a>
	    <div class="collapse navbar-collapse" id="navbar">
	      <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> 
		<li class="nav-item"><a class="nav-link" name="CLC Striders News" href="/pages/news">News</a></li>
		<li class="nav-item"><a class="nav-link" name="CLC Striders Events" href="/pages/staverton-10">Events</a></li>
		<li class="nav-item"><a class="nav-link" name="Upcoming Fixtures" href="/pages/fixtures">Fixtures</a></li>		
		<li class="nav-item"><a class="nav-link" name="Training" href="/pages/training">Training</a></li>
		<li class="nav-item"><a class="nav-link" name="CLC Striders Membership" href="/pages/membership">Membership</a></li> 
		<li class="nav-item"><a class="nav-link" name="CLC Striders Records" href="/pages/records">Records</a></li>
		<li class="nav-item"><a class="nav-link" name="About CLC Striders" href="/pages/about">About</a></li>      

	      </ul>
	    </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	  </nav>
</header>
