<!DOCTYPE html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.ga }}');
</script>
    <meta charset="utf-8" />
    <title>{{ page.title }} | {{ site.name }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=True" />
    <meta name="HandheldFriendly" content="True">
    <meta name="msapplication-TileColor" content="#{{ site.themeColor }}">
    <meta name="msapplication-config" content="/assets/img/browserconfig.xml">
    <meta name="msapplication-TileColor" content="#{{ site.themeColor }}">
    <meta name="theme-color" content="#{{ site.themeColor }}">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="dns-prefetch" href="//cdn.datatables.net">
    <link rel="dns-prefetch" href="//kit.fontawesome.com">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//clcstriders-runningclub.co.uk">
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#{{ site.themeColor }}">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <link rel="manifest" href="/assets/img/site.webmanifest">
    <link rel="canonical" href="{{ page.url | prepend: site.url }}">

    <link rel="stylesheet" href="/assets/css/master.css?version={{ site.cache }}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- bootstrap (sourced from https://datatables.net/download/index) -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.20/r-2.2.3/sl-1.3.1/datatables.min.css?v={{ site.cache }}" crossorigin="anonymous" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} xml" href="{{ site.url }}/feed.xml">
    <link rel="alternate" type="application/json" title="{{ site.name }} json" href="{{ site.url }}/feeds/feed.json">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:image" content="{{ site.url }}{{ page.image }}" />
    <meta property="og:site_name" content="CLC Striders Running Club Website">
    <meta property="article:publisher" content="https://www.facebook.com/clcstriders" />
    <meta property="article:author" content="https://www.facebook.com/clcstriders" />
    <meta property="article:published_time" content="{{ page.date }}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:site" content="@clcstriders" />
    <meta name="twitter:creator" content="@clcstriders">
</head>
  <body>
<a class="skip-main" href="#main">Skip to main content</a>
<header>
	<nav class="container navbar navbar-expand-lg  fixed-top nav-pills nav-fill navbar-light" style="background:white;">
	    <a class="navbar-brand" name="CLC Striders homepage" href="/">
		<img src="/assets/img/logo.png" class="brandImage" alt="Cheltenham Ladies College Striders Running Club Logo" />
		      <span class="title">{{ site.title }}</span>
  	              <span class="sub">{{ site.subtitle }}</span>
		</a>
	    <div class="collapse navbar-collapse" id="navbar">
	      <ul class="navbar-nav ml-auto mt-2 mt-lg-0"> 
          {% for item in site.data.menu.items %}
            <li class="nav-item">
              <a class="nav-link" name="{{item.name}}" href="{{item.url}}">{{item.display}}</a>
            </li>
          {% endfor %}
     </ul>
	    </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
	      Menu <span class="navbar-toggler-icon"></span>
	    </button>
	  </nav>
</header>
