<div id="mainheader" class="headerbar">
		<div class="headerbarleft">
				<a href="/" title="CLC Striders">
				  <div class="headerbarprlogo" style=" background-image:url('/assets/logo.png'); "> &nbsp; </div>
				</a>
		</div>
		<div class="headerbarright">
			<div class="menubar">
				<div class="menuScrim"></div>
				<div class="menuButton">
					<div class="line"></div>
					<div class="line"></div>
					<div class="line"></div>
				</div>
				<!-- change this next div back to a nav in future when HTML5 support is accross the board -->
				<div id="access" role="navigation">
					<div>
					 <ul class="menu">
						<li><a href="/">News</a></li>
						<li><a href="/pages/records">Records</a></li>
						<li><a href="/pages/events">Events</a></li>  
						<li><a href="/pages/training">Training</a></li>   
						<li><a href="/pages/membership">Membership</a></li>
						<li><a href="/pages/staverton-10">Staverton</a></li>      
						<li><a href="/pages/about">About</a></li>
						<li><a href="/pages/contact">Contact</a></li>
						<li><a href="javascript:return false;">results</a>
						    <ul class="sub-menu">
							<li><a href="#">sub 1</a></li>
							<li><a href="#">sub 2</a></li>
						    </ul>
					     </li>
					</ul>			
				    </div>
			</div>
		</div>
</div>
