<!--<div class="menuBar">
<a class="menuItem" href="/pages/news">News</a> /
<a class="menuItem" href="/pages/records">Records</a> /
<a class="menuItem" href="/pages/events">Events</a> /
<a class="menuItem" href="/pages/fixtures">Fixtures</a> /
<a class="menuItem" href="/pages/training">Training</a> /
<a class="menuItem" href="/pages/membership">Membership</a> /
<a class="menuItem" href="/pages/about">About</a>
</div>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">CLC Striders</a>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">    
      <li class="nav-item active"><a class="nav-link" href="/pages/news">News</a></li>
      <li class="nav-item active"><a class="nav-link" href="/pages/records">Records</a></li>
      <li class="nav-item active"><a class="nav-link" href="/pages/events">Events</a></li>
      <li class="nav-item active"><a class="nav-link" href="/pages/fixtures">Fixtures</a></li>
      <li class="nav-item active"><a class="nav-link" href="/pages/training">Training</a></li>
      <li class="nav-item active"><a class="nav-link" href="/pages/membership">Membership</a></li>
      <li class="nav-item active"><a class="nav-link" href="/pages/about">About</a></li>
    </ul>
  </div>
</nav>
