<meta charset="utf-8">
<meta name="description" content="{{ site.description }}">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="format-detection" content="telephone=no"/>
<meta name="format-detection" content="address=no"/>
<meta name="HandheldFriendly" content="True">
<link rel="stylesheet" href="/css/master.css?version=20190326">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} xml" href="{{ site.url }}/feed.xml">
<link rel="alternate" type="application/json" title="{{ site.name }} json" href="{{ site.url }}/feeds/feed.json">
<link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
