<meta charset="utf-8">
<meta name="description" content="{{ page.description }} | {{ site.description }} | {{ site.title }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="address=True" />
<meta name="HandheldFriendly" content="True">
<meta name="msapplication-TileColor" content="#00a300">
<meta name="msapplication-config" content="/img/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<meta name="msapplication-TileColor" content="#{{ site.themeColor }}">
<meta name="theme-color" content="#{{ site.themeColor }}">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link rel="dns-prefetch" href="//cdn.datatables.net">
<link rel="dns-prefetch" href="//kit.fontawesome.com">
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//clcstriders-runningclub.co.uk">
<link rel="shortcut icon" type="image/png" href="/img/favicon.ico" />
<link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
<link rel="manifest" href="/img/site.webmanifest">
<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/img/favicon.ico">
<link rel="manifest" href="/site.webmanifest">

<link rel="stylesheet" href="/css/master.css?version={{ site.cache }}">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} xml" href="{{ site.url }}/feed.xml">
<link rel="alternate" type="application/json" title="{{ site.name }} json" href="{{ site.url }}/feeds/feed.json">
<script src="https://kit.fontawesome.com/05b6df542d.js" crossorigin="anonymous" integrity="sha384-tCIa9x35rFwAnPYwDCoqImEiB9Ai31jfzeslK4Q53KZAXSFi24Px912eIpefo9Bj"></script>
<!-- bootstrap (sourced from https://datatables.net/download/index) -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.20/r-2.2.3/sl-1.3.1/datatables.min.css?v={{ site.cache }}" crossorigin="anonymous" />
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.20/r-2.2.3/sl-1.3.1/datatables.min.js?v={{ site.cache }}" crossorigin="anonymous"></script>
