---
layout: default
title:  Latest News
description: Latest news of  CLC Stiders Running Club in Cheltenham Spa, Gloucestershire
permalink: /news/

---

<ul class="posts">
{% for post in site.posts | limit: site.postLimit %}
  <li class="{{ post.popular }} {{ post.new }}">
      <a href="{{ post.url }}">{{ post.title }}</a> 
      <br/>
      <small>
        <span class="date">{{ post.date | date: "%-d %B %Y" }}</span>
        <span class="num-words">| {{ post.content | number_of_words }} words</span>
        <span class="read-time" title="Estimated read time">| {% assign words = post.content | number_of_words %}approx {% if words < 360 %}1 min read.{% else %}{{ words | divided_by:180 }} mins read.{% endif %}</span>
        <span class="categories">| {% if post.category != empty %}{% for category in post.categories %}<a href="{{ post_url }}/pages/categories/#{{ category | slugify }}">{{ category }}</a>  {% endfor %}{% endif %}</span>
      </small>
      </li>
  {% endfor %}
</ul>

<!-- pagination -->
{% if site.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ site.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..site.total_pages) %}
    {% if page == paginator.page %}
    <span>{{ page }}</span>
    {% elsif page == 1 %}
    <a href="/">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ site.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
</div>
{% endif %}
