---
title: Image Gallery
description: CLC Striders image gallery
permalink: /images
layout: default

---

<div class="container">

    <ul class="nav nav-pills nav-stacked">
      <li>
        {% for image in site.static_files %}
        {% if image.path contains '/images/' %}
        <li>
          <a href="#lightbox" data-toggle="modal">
            <img src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.name }}">
          </a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
    
    <div class="modal fade and carousel slide" id="lightbox">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <ol class="carousel-indicators">
              <li data-target="#lightbox" data-slide-to="0" class="active"></li>
              <li data-target="#lightbox" data-slide-to="1"></li>
              <li data-target="#lightbox" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                {% for image in site.static_files %}
                    {% if image.path contains '/images/' %}
                            <div class="item">
                                <img src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.name }}">
                            </div>
                    {% endif %}
                {% endfor %}
            </div><!-- /.carousel-inner -->
            <a class="left carousel-control" href="#lightbox" role="button" data-slide="prev">
              <i class="fa fa-chevron-left fa-2x"></i>
            </a>
            <a class="right carousel-control" href="#lightbox" role="button" data-slide="next">
              <i class="fa fa-chevron-right fa-2x"></i>
            </a>
          </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  
  </div><!-- /.container -->




