{% include default.html %}

{% if page.datatable == "committee" %}
    <script>
        // committee page this code is more basic as its a standard markdown table
        $(".committee").DataTable({ "paging": false, "info": false });
    </script>
{% elsif page.datatable == "fixtures" %}
    <script>
        var cutoffDate = new Date();
        //cutoffDate.setMonth(cutoffDate.getMonth() - 9); // display events from maximum 9 months ago
        cutoffDate.setFullYear(cutoffDate.getFullYear() - 1); // display events from maximum 1 year ago
        var fixturesDataAll =  {{ site.data.fixtures | jsonify }} ;
        var fixturesData = fixturesDataAll.filter(d => Date.parse(d.date_sort) > cutoffDate);
        var fixturesTable = $("#site_data_fixtures").DataTable({
            "paging": false,
            "info": true,
            "columns": [
                { data: "Date" },
                { data: "date_sort" },
                { data: "Series", width: "10px" },
                { data: "Race", width: "50%" },
                { data: "Distance" },
                { data: "distance_sort" },
                { data: "Terrain" }
            ],
            columnDefs: [
                { // hidden columns
                    "visible": false,
                    "targets": [1, 5]  // date_sort, distance_sort
                },
                { // non-searchable columns
                    "searchable": false,
                    "targets": [1, 5] // date_sort, distance_sort
                },
                { // column sort remapping
                    targets: [0], // Date
                    orderData: [1] // date_sort
                },
                { // column sort remapping
                    targets: [4], // Distance
                    orderData: [5] // distance_sort
                },
            ],
        });
        fixturesTable.rows.add(fixturesData).draw();
    </script>
{% elsif page.datatable == "records" %}
    <script>
        // this will be replaced with the records2 code below when released - only here to ensure current records page works
        var recordsData =  {{ site.data.records | jsonify }} ;
        //recordsData = recordsData.filter(f => f.gender_search == "xy") // men-only
        var recordsTable = $("#site_data_records").DataTable({
            "paging": true,
            "info": true,
            "columns": [
                { data: "Type" },
                { data: "type_sort" },
                { data: "Gender" },
                { data: "gender_search" },
                { data: "Distance" },
                { data: "distance_m_sort" },
                { data: "Age Group" },
                { data: "age_sort" },
                { data: "Holder" },
                { data: "Time" },
                { data: "time_secs_sort" },
                { data: "Venue" },
                { data: "Date" },
                { data: "date_sort" }
            ],
            "pageLength": 25, // initial page length
            "order": [[2, 'asc'], [1, 'asc'], [5, 'asc'], [7, 'asc']], // initial sort - Gender, type_sort, distance_m_sort, age_sort
            columnDefs: [
                { // hidden columns
                    "visible": false,
                    "targets": [1, 3, 5, 7, 10, 13]  // type_sort, gender_search, distance_m_sort, age_sort, time_secs_sort, date_sort
                },
                { // non-searchable columns
                    "searchable": false,
                    "targets": [1, 5, 7, 10, 13] // type_sort, distance_m_sort, age_sort, time_secs_sort, date_sort
                },
                { // non-sortable columns
                    "orderable": false,
                    "targets": [8, 11] // Holder, Venue
                },
                { // column sort remapping
                    targets: [0], // Type
                    orderData: [1] // type_sort
                },
                { // column sort remapping
                    targets: [4], // Distance
                    orderData: [5] // distance_m_sort
                },
                { // column sort remapping
                    targets: [6], // Age Group
                    orderData: [7] // age_sort
                },
                { // column sort remapping
                    targets: [9], // Time
                    orderData: [10] // time_secs_sort
                },
                { // column sort remapping
                    targets: [12], // Date
                    orderData: [13] // date_sort
                },
            ],
        });
        recordsTable.rows.add(recordsData).draw();
    </script>
{% elsif page.datatable == "records2" %}
    <script>
        var recordsData =  {{ site.data.records | jsonify }} ;
        recordsData = recordsData.filter(f => f.date_sort != "99999999") // ignore empty records
    </script>
    {% if page.datatype == "road" %}
        <script>
            recordsData = recordsData.filter(f => f.type_sort == "1") // road only
        </script>
    {% elsif page.datatype == "multi" %}
        <script>
            recordsData = recordsData.filter(f => f.type_sort == "2") // multi-terrain only
        </script>
    {% elsif page.datatype == "track" %}
        <script>
            recordsData = recordsData.filter(f => f.type_sort == "3") // track only
        </script>
    {% elsif page.datatype == "field" %}
        <script>
            recordsData = recordsData.filter(f => f.type_sort == "4") // field events only
        </script>
    {% elsif page.datatype == "parkrun" %}
    <script>
        recordsData = recordsData.filter(f => f.type_sort == "5") // parkrun only
    </script>
    {% endif %}
    {% if page.datagender == "men" %}
    <script>
        recordsData = recordsData.filter(f => f.gender_search == "xy") // men only
    </script>
    {% elsif page.datagender == "women" %}
    <script>
        recordsData = recordsData.filter(f => f.gender_search == "xx") // women only
    </script>
    {% endif %}
    <script>
        var recordsTable = $("#site_data_records").DataTable({
            "paging": true,
            "info": true,
            "language": {
                "emptyTable": "No records",
                "zeroRecords": "No records"
            },
            "columns": [
                { data: "Type" },               // 0
                { data: "type_sort" },          // 1
                { data: "Gender" },             // 2
                { data: "gender_search" },      // 3
                { data: "Distance" },           // 4
                { data: "distance_m_sort" },    // 5
                { data: "Age Group" },          // 6
                { data: "age_sort" },           // 7
                { data: "Holder" },             // 8
                { data: "Time" },               // 9
                { data: "time_secs_sort" },     // 10
                { data: "Venue" },              // 11
                { data: "Date" },               // 12
                { data: "date_sort" }           // 13
            ],
            "pageLength": 25, // initial page length
            "order": [[4, 'asc'], [6, 'asc']], // initial sort - Distance, Age Group
            columnDefs: [
                { // hidden columns
                    "visible": false,
                    "targets": [0, 1, 2, 3, 5, 7, 10, 13]  // Type, type_sort, Gender, gender_search, distance_m_sort, age_sort, time_secs_sort, date_sort
                },
                { // non-searchable columns
                    "searchable": false,
                    "targets": [0, 1, 2, 3, 5, 7, 10, 13]  // Type, type_sort, Gender, gender_search, distance_m_sort, age_sort, time_secs_sort, date_sort
                },
                { // non-sortable columns
                    "orderable": false,
                    "targets": [8, 11] // Holder, Venue
                },
                { // column sort remapping
                    targets: [4], // Distance
                    orderData: [5] // distance_m_sort
                },
                { // column sort remapping
                    targets: [6], // Age Group
                    orderData: [7] // age_sort
                },
                { // column sort remapping
                    targets: [9], // Time
                    orderData: [10] // time_secs_sort
                },
                { // column sort remapping
                    targets: [12], // Date
                    orderData: [13] // date_sort
                },
                // column widths 0px => width to fit data
                { "width": "0px", "targets": 4 },   // Distance
                { "width": "0px", "targets": 6 },   // Age Group
                { "width": "0px", "targets": 9 },   // Time
                { "width": "0px", "targets": 12 },  // Date
            ],
        });
    </script>
    {% if page.datatype == "field" %}
    <script>
        $(recordsTable.column(4).header()).text('Event'); // field - rename Distance column to Event
    </script>
    {% elsif page.datatype == "parkrun" %}
        <script>
            recordsTable.column(4).visible(false); // parkrun - hide Distance column, they're all 5k
        </script>
    {% endif %}
    <script>
        recordsTable.rows.add(recordsData).draw();
    </script>
{% elsif page.datatable == "cwr" %}
    <script>
        var cwrData =  {{ site.data.cwr | jsonify }} ;
        var cwrTable = $("#site_data_cwr").DataTable({
            "paging": true,
            "info": true,
            "columns": [
                { data: "Leg" },                // 0
                { data: "leg_search" },         // 1
                { data: "Team" },               // 2
                { data: "Category" },           // 3
                { data: "Name" },               // 4
                { data: "Time" },               // 5
                { data: "time_secs_sort" },     // 6
                { data: "Distance" },           // 7
                { data: "Start" },              // 8
                { data: "Finish" },             // 9
                { data: "Date" },               // 10
                { data: "date_sort" },          // 11
            ],
            "pageLength": 25, // initial page length
            "order": [[10, 'desc'], [0, 'asc'], [5, 'asc']], // initial sort - Date, Leg, Time
            columnDefs: [
                { // hidden columns
                    "visible": false,
                    "targets": [1, 6, 11]  // leg_search, time_secs_sort, date_sort
                },
                { // non-searchable columns
                    "searchable": false,
                    "targets": [0, 6, 11]  // Leg, time_secs_sort, date_sort
                },
                { // non-sortable columns
                    "orderable": false,
                    "targets": [2, 3, 8, 9] // Team, Category, Name, Start, Finish
                },
                { // column sort remapping
                    targets: [5], // Time
                    orderData: [6] // time_sort
                },
                { // column sort remapping
                    targets: [10], // Date
                    orderData: [11] // date_sort
                },
                // column widths 0px => width to fit data
                { "width": "0px", "targets": 0 },   // Leg
                { "width": "0px", "targets": 3 },   // Category
                { "width": "0px", "targets": 5 },   // Time
                { "width": "0px", "targets": 7 },   // Distance
                { "width": "0px", "targets": 10 },  // Date
            ],
        });
        cwrTable.rows.add(cwrData).draw();
    </script>
{% endif %}
