<!DOCTYPE html>
<html lang="en">
  <head>    
    {% include meta.html %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <title>{{ site.name }}</title>
  </head>
  <body>
      <div id="wrapper">
        {% include header.html %}
        {% include menu.html %}
        <div class="content">
            <h2>{{ page.title }}</h2>
            <div id="example"></div>
        </div>          
            {% include footer.html %}
      </div>
    <script src="/js/master.js"></script>
    <script src="//code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>            
      $(document).ready( function () {
        
   $('#example').dataTable( {
    "data": [
        {
            "name":       "Tiger Nixon",
            "position":   "System Architect",
            "salary":     "$3,120",
            "start_date": "2011/04/25",
            "office":     "Edinburgh",
            "extn":       5421
        },
        {
            "name": "Garrett Winters",
            "position": "Director",
            "salary": "5300",
            "start_date": "2011/07/25",
            "office": "Edinburgh",
            "extn": "8422"
        },
        // ...
    ],
    "columns": [
        { "data": "name" },
        { "data": "position" },
        { "data": "office" },
        { "data": "extn" },
        { "data": "start_date" },
        { "data": "salary" }
    ]
  } );
    </script>
  </body>
</html>
