{% include default.html %}

{% if page.datatable == "committee" %}
    <script>
        // committee page this code is more basic as its a standard markdown table
        $(".committee").DataTable({ "paging": false, "info": false });
    </script>
{% elsif page.datatable == "fixtures" %}
    <script>
        var cutoffDate = new Date();
        //cutoffDate.setMonth(cutoffDate.getMonth() - 9); // display events from maximum 9 months ago
        cutoffDate.setFullYear(cutoffDate.getFullYear() - 1); // display events from maximum 1 year ago
        var fixturesDataAll =  {{ site.data.fixtures | jsonify }} ;
        var fixturesData = fixturesDataAll.filter(d => Date.parse(d.date_sort) > cutoffDate);
        var fixturesTable = $("#site_data_fixtures").DataTable({
            "paging": false,
            "info": true,
            "columns": [
                { data: "Date" },
                { data: "date_sort" },
                { data: "Series", width: "10px" },
                { data: "Race", width: "50%" },
                { data: "Distance" },
                { data: "distance_sort" },
                { data: "Terrain" }
            ],
            columnDefs: [
                { // hidden columns
                    "visible": false,
                    "targets": [1, 5]  // date_sort, distance_sort
                },
                { // non-searchable columns
                    "searchable": false,
                    "targets": [1, 5] // date_sort, distance_sort
                },
                { // column sort remapping
                    targets: [0], // Date
                    orderData: [1] // date_sort
                },
                { // column sort remapping
                    targets: [4], // Distance
                    orderData: [5] // distance_sort
                },
            ],
        });
        fixturesTable.rows.add(fixturesData).draw();
    </script>
{% elsif page.datatable == "records" %}
    <script>
        var recordsData =  {{ site.data.records | jsonify }} ;
        //recordsData = recordsData.filter(f => f.gender_search == "xy") // men-only
        var recordsTable = $("#site_data_records").DataTable({
            "paging": true,
            "info": true,
            "columns": [
                { data: "Type" },
                { data: "type_sort" },
                { data: "Gender" },
                { data: "gender_search" },
                { data: "Distance" },
                { data: "distance_m_sort" },
                { data: "Age Group" },
                { data: "age_sort" },
                { data: "Holder" },
                { data: "Time" },
                { data: "time_secs_sort" },
                { data: "Venue" },
                { data: "Date" },
                { data: "date_sort" }
            ],
            "pageLength": 25, // initial page length
            "order": [[2, 'asc'], [1, 'asc'], [5, 'asc'], [7, 'asc']], // initial sort - Gender, type_sort, distance_m_sort, age_sort
            columnDefs: [
//                { // hidden columns
//                    "visible": false,
//                    "targets": [1, 3, 5, 7, 10, 13]  // type_sort, gender_search, distance_m_sort, age_sort, time_secs_sort, date_sort
//                },
//                { // non-searchable columns
//                    "searchable": false,
//                    "targets": [1, 5, 7, 10, 13] // type_sort, distance_m_sort, age_sort, time_secs_sort, date_sort
//                },
//                { // non-sortable columns
//                    "orderable": false,
//                    "targets": [8, 11] // Holder, Venue
//                },
                { // column sort remapping
                    targets: [0], // Type
                    orderData: [1] // type_sort
                },
//                { // column sort remapping
//                    targets: [4], // Distance
//                    orderData: [5] // distance_m_sort
//                },
//                { // column sort remapping
//                    targets: [6], // Age Group
//                    orderData: [7] // age_sort
//                },
//                { // column sort remapping
//                    targets: [9], // Time
//                    orderData: [10] // time_secs_sort
//                },
//                { // column sort remapping
//                    targets: [12], // Date
//                    orderData: [13] // date_sort
//                },
            ],
        });
        recordsTable.rows.add(recordsData).draw();
    </script>
{% endif %}
