{% include header.html %}
        <div id="main" class="container">
            <h2>{{ page.title }}</h2>
                   {% if page.toc %}
                      <aside>
                        <nav class="toc">
                          <strong class="nav_title"> {{ page.toc_label | default: "Contents" }}</strong>
                          {% include toc.html sanitize=true html=content h_min=2 h_max=5 class="toc__menu" %}
                        </nav>
                      </aside>
                    {% endif %}
            {{ content }}
       </div>
{% include footer.html %}
