{% include header.html %}
<div class="container">
  <div class="jumbotron jumbotron-fluid" style="padding:1rem;">
    <div class="container callout">
      <p id="tagline" class="blockqute">Welcome to CLC Striders - One of Cheltenham's largest running clubs - based at Cheltenham Ladies College</p>
    </div>
  </div>
    <div id="gallery">
        <div class="slider">
            <img src="/Images/2019/12/Men-Clopton-7.12.19-768x576.jpg" alt="Men's cross country team posing for photo at Clopton in December 2019"/>
            <img src="/Images/2019/04/Cleevewold-ladies-31.3.19-768x576.jpg" alt="Ladies and prizes at Cleevewold"/>
            <img src="/Images/2019/01/Steve-Kenyon-Staverton-10-2019-768x576.jpg" alt="Steve Kenyon wins Staverton 10 - 2019" />
        </div>
    </div>
  <h2 id="main">Latest News</h2>      
   <ul class="posts">
    {% for post in site.posts | limit: 3 %}
      <li class="{{ post.popular }} {{ post.new }}">
          <a href="{{ post.url }}">{{ post.title }}</a> 
          <br/>
          <small>
          <span class="date"><em>{{ post.date | date: "%-d %B %Y" }}</em></span>
          <span class="num-words">| <em>{{ post.content | number_of_words }}</em> words</span>
          <span class="read-time" title="Estimated read time">| <em>{% assign words = post.content | number_of_words %}approx {% if words < 360 %} 1 min read. {% else %}{{ words | divided_by:180 }} mins read. {% endif %}</em></span>
          <span class="categories">| Categories: <em>{% if post.category != empty %}{% for category in post.categories %}<a href="{{site.url}}{{ post_url }}/pages/categories/{{ category | slugify }}">{{ category }}</a>, {% endfor %}{% endif %}</em></span>
          </small>
          </li>
      {% endfor %}
    </ul>
    <p><small><a href="{{site.url}}/pages/news/">Read more</a></small></p>
</div>
{% include footer.html %}
