<!DOCTYPE html>
<html lang="en">
  <head>
   <title>{{ page.title }} — {{ site.name }}</title>
    {% include meta.html %}
  </head>
  <body>
      <div id="wrapper" class="container">
        {% include header.html %}
          <div class="content">
            <a href="/" class="back-to-front" title="Back to all posts">&larr; back</a>
            <span class="post-num-words">
              {{ page.content | number_of_words }} <span>words</span>
            </span> 
             <span class="post-miles">
              {% if page.tags != empty %}{% for tag in page.tags %}{{ tag }}{% endfor %}{% endif %}
               <span>total miles</span>
            </span>
            <span class="post-date">
              {{ page.date | date: "%-d %B %Y" }}
            </span>
            <h2>{{ page.title }}</h2>
            {{ content }}
          </div>
      {% include footer.html %}
    </div>
    <script src="/js/master.js"></script>
  </body>
</html>
