<!DOCTYPE html>
<html lang="en">
  <head>
   <title>{{ page.title }} — {{ site.name }}</title>
    {% include meta.html %}
  </head>
  <body>
      <div class="container">
        {% include header.html %}
          <div class="container">
            <h2>{{ page.title }}</h2>
            <span class="post-date pull-right">{{ page.date | date: "%-d %B %Y" }}</span>
            <hr/>
            
            {{ content }}
            
 
          </div>
      {% include footer.html %}
    </div>
  </body>
</html>
