<!DOCTYPE html>
<html lang="en">
  <head>
   <title>{{ page.title }} — {{ site.name }}</title>
    {% include meta.html %}
  </head>
  <body>
      <div class="container">
        {% include header.html %}
          <div class="container">
            <h2>{{ page.title }}</h2>
            <span class="post-date pull-right">{{ page.date | date: "%-d %B %Y" }}</span>
            <hr/>
            
            {{ content }}
            
            <hr/>
             <a href="/pages/news" class="back-to-front" title="Back to all posts">&larr; back</a>
            <small>
            <span class="date"><em>{{ post.date | date: "%-d %B %Y" }}</em></span>
            <span class="num-words">| <em>{{ post.content | number_of_words }}</em> words</span>
            <span class="read-time" title="Estimated read time">| <em>{% assign words = content | number_of_words %}approx {% if words < 360 %}1 min read.{% else %}{{ words | divided_by:180 }} mins read.{% endif %}</em></span>

            </small>
              
              <div class="related">
                <h3>Related Posts</h3>
                {% assign firstCategory = page.categories | first %}
                {% assign relatedCount = 0 %}
                {% for related in site.categories[firstCategory] %}
                    {% unless page.permalink == related.permalink %}
                        {% assign relatedCount = relatedCount | plus: 1 %}
                        <a href="{{related.permalink}}">{{ related.title }}</a>
                    {% endunless %}

                    {% if relatedCount == 3 %}
                        {% break %}
                    {% endif %}
                {% endfor %}
              </div>
          </div>
      {% include footer.html %}
    </div>
  </body>
</html>
